.Feature {
  text-align: center;
  padding: 20px 10px;
  position: relative;
}

.Feature h1 {
  font-size: 1em;
}

.Feature h1 > span {
  color: black;
  font-style: normal;
  font-weight: 600;
}

.Feature:hover {
  background: white;
  box-shadow: 7px 2px 17px -4px rgba(0,0,0,0.57);
}

.Feature:hover::after {
  content: "";
  width: 0; height: 0;
  border-top: 30px solid white;
  border-right: 30px solid transparent;
  position: absolute;
  bottom: -25px;
  left: 0;
}

.Feature:hover > .CircleIcon {
  animation: spin 0.4s linear;
  background: #48a4f0;
  box-shadow: inset 2px 1px 34px -15px rgba(0,0,0,1);
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.CircleIcon {
  width: 70px;
  height: 70px;
  margin: 15px auto;
  border-radius: 50%;
  background: #ccc;
  line-height: 5em;
}

