.Blog { 
  background: white;
  position: relative;
  box-shadow: 7px 2px 17px -4px rgba(0,0,0,0.57);
}



.Blog > img {
  width: 100%;
  height: auto;
}

.Testi {
  background: white;
  padding: 0 20px 20px 20px;
}

.Testi > h4 {
  text-transform: capitalize;
}

.Blog::after {
  content: "";
  width: 0; height: 0;
  border-top: 40px solid white;
  border-right: 40px solid transparent;
  position: absolute;
  bottom: -35px;
  left: 0;
}