.PopUp {
  padding: 10px 10px 10px 40px;
  display: flex;
  justify-content: space-between;
  background: #4f90ca;
  position: relative;
  margin-top: 30px;
}

.PopUp h1 {
  margin: auto 0;
  height: fit-content;
  font-size: 1em;
  color: white;
  font-weight: 300;
}

.PopUp h1 > span {
  font-weight: 600;
}

.PopUp::after {
  content: "";
  width: 0; height: 0;
  border-top: 50px solid #4f90ca;
  border-right: 50px solid transparent;
  position: absolute;
  bottom: -35px;
  left: 0;
}